#btn{
    width:40% ;
}

#todoCards{
    display: flex;
}

.textareaContainer {
    position: relative; 
    width: 100%; 
    height: 200px; 
    padding: 10px; 
    box-sizing: border-box; 
}



.delBtn {
    position: absolute; 
    top: 220px; 
    right: 10px; 
    cursor: pointer; 
    padding: 5px; 
}



